:root {
   --white: #ffffff;
   --greenBlue: #0a746b;
   --blueNavy: #30309e;
   --lightGray: #e9e6e6;
   --mediumGray: #cccaca;
}

/* brak points   desktop 990px */
.tab-item {
   --tab-item_width: 130px;
   --tab-item_height: 47px;
   --tab-item_padding: 10px 10px;
   --tab-item_border-top: 3px;
   --tab-item_margin-left: 1px;
}

.tab-blocks-container {
   --tab-blocks-container_width: 100%;
}

.tab-blocks-item {
   --tab-blocks-item_padding: 40px;
   --tab-blocks-item-text_font: 16px;
   --tab-blocks-item-title_font: 22px;
   --tab-blocks-item_height: auto;
}

body {
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   background-color: var(--lightGray);
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   height: 100vh;
}

.tab-component {
   position: relative;
   height: auto;
   width: 90%;
}

.tabs-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-self: start;
}

.tab-item {
   width: var(--tab-item_width);
   height: var(--tab-item_height);
   border: none;
   margin-left: var(--tab-item_margin-left);
   color: var(--blueNavy);
   padding: var(--tab-item_padding);
   background-color: var(--mediumGray);
   border-top: var(--tab-item_border-top) solid var(--mediumGray);
}

.tab-item:focus {
   outline: none;
}

.tab-item:hover {
   cursor: pointer;
}

.active-tab {
   background-color: var(--white);
   border-top: var(--tab-item_border-top) solid var(--greenBlue);
}

.tab-blocks-container {
   position: relative;
   height: auto;
   width: var(--tab-blocks-container_width);
}

.tab-blocks-item {
   position: absolute;
   width: calc(-100%+var(--tab-blocks-item_padding));
   padding: var(--tab-blocks-item_padding);
   height: var(--tab-blocks-item_height);
   display: none;
}

.tab-blocks-item_title {
   font-size: var(--tab-blocks-item-title_font);
   color: var(--blueNavy);
}
.tab-blocks-text_item {
   font-size: var(--tab-blocks-item-text_font);
   color: var(--blueNavy);
}

.active--tab-block {
   display: block;
   background-color: var(--white);
}
