:root {
   --white: #ffffff;
   --greenBlue: #0a746b;
   --blueNavy: #30309e;
   --lightGray: #e9e6e6;
   --mediumGray: #cccaca;
}

/* brak points   desktop 990px */
/*------- Variables --------*/
.tab-item {
   --tab-item_width: 130px;
   --tab-item_height: 47px;
   --tab-item_padding: 10px 10px;
   --tab-item_border-top: 3px;
   --tab-item_margin-left: 1px;
}

.tab-blocks-container {
   --tab-blocks-container_width: 100%;
}

.tab-blocks-item {
   --tab-blocks-item_padding: 40px;
   --tab-blocks-item_height: auto;
   --tab-blocks-item_min-height: 273px;
   --tab-blocks-item_max-width: 994px;
   --tab-blocks-item_width: -100%;
   --tab-blocks-item-title_font: 22px;
   --tab-blocks-item-text_font: 16px;
   --tab-blocks-item-text_margin: 40px 0;
}

.add-tab-btn {
   --add-tab-btn_right: 0;
   --add-tab-btn_top: 0;
   --add-tab-btn_width: 30px;
   --add-tab-btn_height: 30px;
   --add-tab-btn_z-index: 1;
   --add-tab-btn_border-radius: 20px;
   --add-tab-btn_transition-time: 0.25s;
   --add-tab-btn-item_width: 15px;
   --add-tab-btn-item_height: 3px;
   --add-tab-btn-item_top: 50%;
   --add-tab-btn-item_left: 50%;
   --add-tab-btn-item_translate: -50%;
   --add-tab-btn-item_rotate-after: -90deg;
   /* --add-tab-btn-item_: 3px; */
}

body {
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   background-color: var(--lightGray);
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   height: 100vh;
}

/*------- Elements Classes --------*/
.tab-component {
   position: relative;
   height: auto;
   width: 90%;
}

.tabs-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-self: start;
}

.tab-item {
   width: var(--tab-item_width);
   height: var(--tab-item_height);
   border: none;
   margin-left: var(--tab-item_margin-left);
   color: var(--blueNavy);
   padding: var(--tab-item_padding);
   background-color: var(--mediumGray);
   border-top: var(--tab-item_border-top) solid var(--mediumGray);
}

.tab-item:focus {
   outline: none;
}

.tab-item:hover {
   cursor: pointer;
}

.active-tab {
   background-color: var(--white);
   border-top: var(--tab-item_border-top) solid var(--greenBlue);
}

.tab-blocks-container {
   position: relative;
   height: auto;
   width: var(--tab-blocks-container_width);
}

.tab-blocks-item {
   position: absolute;
   width: calc(var(--tab-blocks-item_width)+var(--tab-blocks-item_padding));
   max-width: calc(var(--tab-blocks-item_max-width)+var(--tab-blocks-item_padding));
   padding: var(--tab-blocks-item_padding);
   height: var(--tab-blocks-item_height);
   min-height: var(--tab-blocks-item_min-height);
   display: none;
}

.tab-blocks-item_title {
   font-size: var(--tab-blocks-item-title_font);
   color: var(--blueNavy);
}
.tab-blocks-text_item {
   font-size: var(--tab-blocks-item-text_font);
   color: var(--blueNavy);
   margin: var(--tab-blocks-item-text_margin);
}

.active-tab-block {
   display: block;
   background-color: var(--white);
}

.add-tab-btn {
   position: absolute;
   background-color: var(--greenBlue);
   right: var(--add-tab-btn_right);
   top: var(--add-tab-btn_top);
   width: var(--add-tab-btn_width);
   height: var(--add-tab-btn_height);
   z-index: var(--add-tab-btn_z-index);
   border-radius: var(--add-tab-btn_border-radius);
   transition: all var(--add-tab-btn_transition-time) ease-in-out;
   -o-transition: all var(--add-tab-btn_transition-time) ease-in-out;
   -webkit-transition: all var(--add-tab-btn_transition-time) ease-in-out;
   -moz-transition: all var(--add-tab-btn_transition-time) ease-in-out;
}

.add-tab-btn-item {
   width: var(--add-tab-btn-item_width);
   height: var(--add-tab-btn-item_height);
   position: absolute;
   background-color: var(--white);
   transform-origin: var(--add-tab-btn-item_left) var(--add-tab-btn-item_top);
   -o-transform-origin: var(--add-tab-btn-item_left) var(--add-tab-btn-item_top);
   -webkit-transform-origin: var(--add-tab-btn-item_left) var(--add-tab-btn-item_top);
   -moz-transform-origin: var(--add-tab-btn-item_left) var(--add-tab-btn-item_top);
   top: var(--add-tab-btn-item_top);
   left: var(--add-tab-btn-item_left);
   transform: translate(var(--add-tab-btn-item_translate), var(--add-tab-btn-item_translate));
   -o-transform: translate(var(--add-tab-btn-item_translate), var(--add-tab-btn-item_translate));
   -webkit-transform: translate(var(--add-tab-btn-item_translate), var(--add-tab-btn-item_translate));
   -moz-transform: translate(var(--add-tab-btn-item_translate), var(--add-tab-btn-item_translate));
}

.add-tab-btn-item::after {
   content: "";
   position: absolute;
   width: var(--add-tab-btn-item_width);
   height: var(--add-tab-btn-item_height);
   background-color: var(--white);
   transform: rotate(var(--add-tab-btn-item_rotate-after));
   -o-transform: rotate(var(--add-tab-btn-item_rotate-after));
   -webkit-transform: rotate(var(--add-tab-btn-item_rotate-after));
   -moz-transform: rotate(var(--add-tab-btn-item_rotate-after));
}

.add-tab-btn:hover {
   cursor: pointer;
   background-color: var(--mediumGray);
}
